<article>
  <form class= "UPDATE ME" action="/posts/" method="post" >
    <button type="submit" name="submit_comment" value="submit">
    </button>
  <h2><a href='/posts/'<%= post.title %></a></h2>
  <p>
    <span class="UPDATE ME"><%=  %></span>
    <span class="UPDATE ME"><%=  %></span>
    <span class="UPDATE ME"><%=  %></span>
    <span class="UPDATE ME"><%=  %></span>
    <a class="UPDATE ME" href='/posts/<%= post.id %>'</a>
  </p>
  </form>

</article>
